/**
 * @ Author: Lex Albrandt
 * @ Create Time: 2026-03-04 11:31:30
 * @ Class: CS463
 * @ Assignment: Final Project - Personal website
 * @ Description: Global CSS color styles. Includes Theme colors, neutrals, 
				  text colors, and background colors
 */

:root {
	/* Primary theme colors */
	--primary-color: #51355a;
	--primary-light: #d8f793;
	--primary-dark: #3b4d54;

	/* Neutral Colors */
	--white: #ffffff;
	--gray-50: #f9fafb;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-500: #6b7280;
	--gray-600: #4b5563;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;
	--black: #000000;

	/* Text Colors */
	--text-primary: var(--white);
	--text-secondary: var(--black);

	/* Background Colors */
	--bg-primary: var(--white);
	--bg-secondary: var(--gray-50);
	--bg-accent: var(--gray-100);
}
