/**
 * @ Author: Lex Albrandt
 * @ Create Time: 2026-03-04 13:12:35
 * @ Class: CS463
 * @ Assignment: Final Project - Personal website
 * @ Description: This file contains all CSS stylings for the personal website
                  project
 */

/**
Sources:
- Backgound gradient: https://cssgradient.io/
- Navbar Tutorial: https://www.youtube.com/watch?v=Og-YEeCTE7A
*/

/*
=============================================
GLOBAL STYLES
=============================================
*/

body {
	font-family: "Poppins", sans-serif;
	background: linear-gradient(
		215deg,
		rgba(81, 53, 90, 1) 0%,
		rgba(59, 77, 84, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

/*
=============================================
NAVIGATION STYLES
=============================================
*/

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 100%;
	position: sticky;
	top: 0;
	background: transparent;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	z-index: 999;
}

.navbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 2rem;
}

.navbar-logo {
	text-shadow: 1px 1px 2px var(--black);
	font-size: 2rem;
	font-weight: 600;
	color: var(--text-primary);
	text-decoration: none;
	cursor: pointer;
}

.navbar-container .navbar-menu {
	display: flex;
	text-align: center;
	gap: 1.5rem;
	list-style: none;
}

.navbar-container .navbar-menu li a {
	text-decoration: none;
	text-shadow: 1px 1px 2px var(--black);
	color: var(--text-primary);
	font-size: 1.3rem;
	font-weight: 500;
	padding: 3px 20px;
	border-radius: 20px;
	border: 2px solid transparent;
	transition: all 0.7s ease;
	white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
	color: var(--primary-dark);
	text-shadow: none;
	background: var(--primary-contrast);
	border: 2px solid var(--white);
}

.navbar-toggle {
	display: none;
	background: transparent;
	padding: 10px;
	border: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background: var(--white);
	transition: all 0.3s ease-in-out;
}

/*
=============================================
SECTION STYLES
=============================================
*/

/* About */

section.about {
	display: grid;
	/* background: var(--primary-light); */
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1;
	gap: 2rem;
	max-width: 100vw;
	margin: 0;
	align-items: start;
}

.headshot-container {
	grid-column: 1;
	grid-row: 1;
	width: 300px;
	height: 400px;
	overflow: hidden;
	margin: 2rem;
}

.headshot-container img {
	width: 140%;
	height: 160%;
	object-fit: cover;
	object-position: top;
}

.accent-box {
	grid-column: 1 / 3;
	grid-row: 1;
	border: 3px solid var(--primary-contrast);
	margin-left: 3.5rem;
	margin-right: 2rem;
	margin-top: 3.5rem;
	height: 400px;
}

.about-text {
	grid-column: 1 / 3;
	grid-row: 1;
	color: var(--text-primary);
	margin-left: 23rem;
	margin-top: 4rem;
	margin-right: 3rem;
	text-wrap: auto;
	font-size: 17px;
}

.about-text h2 {
	font-size: 25px;
	text-shadow: 2px 2px 2px var(--black);
}

/* skills */
.skills {
	color: var(--text-primary);
	margin-left: 2rem;
	margin-right: 2rem;
}

.skills h2 {
	font-size: 25px;
	text-shadow: 2px 2px 2px var(--black);
}

/* Accordion */
.accordion-container {
	margin-left: 2rem;
	margin-right: 2rem;
}

/* Projects */
.projects {
	color: var(--text-primary);
}

.projects h2 {
	font-size: 25px;
	text-shadow: 2px 2px 2px var(--black);
}

/* Contact */
.contact {
	color: var(--text-primary);
}

.contact h2 {
	font-size: 25px;
	text-shadow: 2px 2px 2px var(--black);
}

/*
=============================================
RESPONSIVE STYLES
=============================================
*/

@media (max-width: 880px) {
	.navbar {
		backdrop-filter: blur(10px);
	}

	.navbar-container .navbar-menu {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.7rem !important;
		position: absolute;
		height: 18vh;
		top: 0;
		right: 0;
		padding: 5rem 1.5rem;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);
	}

	.navbar-container .navbar-menu.active {
		display: flex;
	}

	.navbar-toggle {
		display: block;
		z-index: 999;
	}

	.navbar-toggle.active .bar:nth-child(2) {
		opacity: 0;
	}

	.navbar-toggle.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.navbar-toggle.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

@media (max-width: 480px) {
	.navbar-container {
		padding: 0 1rem;
	}

	.navbar-logo {
		font-size: 1.7rem;
	}

	.navbar-container .navbar-menu li a {
		font-size: 1.2rem;
		padding: 3px 15px;
	}
}
